{% extends 'base/index.html' %}

{% block head_js %}
    <title> JMS - About</title>


    <meta name="description" content="Want to find out more about JMS Commercial Cleaning? For 5 years now we've been
    cleaning numerous different sites across Essex, from nurseries to printers, you name it, we'll clean it!" />


    <meta property="og:description" content="Want to find out more about JMS Commercial Cleaning? For 5 years now we've been
    cleaning numerous different sites across Essex, from nurseries to printers, you name it, we'll clean it!"/>
{% endblock %}

{% block content %}
    <h1 class="title">About JMS Cleaning </h1>
    <article id="about" class="container padding-bottom text">
            {% autoescape off %}
                {% for about in abouts  %}
                    {% autoescape off %}
                        {{ about.about }}
                    {% endautoescape %}
                {% endfor %}
            {% endautoescape %}
    </article>


    <div id="service-col" class="container padding-bottom">
        <h1 class="title">What We Offer</h1>
        {% for service in services %}
            <div class="service-col">
                <div class="service-header" title="{{ service }}" style="background-image: url( {{ service.image.url }} )">
                    <h2><a href="{% url 'service' service.slug %}">{{ service }}</a></h2>
                </div>
                <div class="service-text text">
                     {% autoescape off %}
                         <h3 class="title">{{ service}}</h3>
                         {{ service.brief }}
                         <a class="call-to" href="{% url 'service' service.slug %}">Find Out More</a>
                     {% endautoescape %}

                </div>
            </div>
        {% endfor %}
    </div>


    <div id="contact" class="img-break">
        <div class="container">

            {% include 'contact/contact_form.html' %}
        </div>
    </div>
{% endblock %}