<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a class="nav-btn link" href ="/">Home</a></li>
            <li><a class="nav-btn link" href="/about/">About</a></li>
            <li><a class="nav-btn link" href="/services/">Services</a></li>
            <li><a class="nav-btn link" href="/gallery/">Gallery</a></li>
            <li><a class="nav-btn link" href ="/testimonials/">Testimonials</a></li>
            <li><a class="nav-btn link" href="/contact/">Contact</a></li>
        </ul>

        <div id="sneakyseo" class="container row">
            <ul>
                <li><a href="/office-cleaning-essex/">Office Cleaning Essex</a></li>
                <li><a href="/office-cleaning-southend/">Office Cleaning Southend</a></li>
                <li><a href="/office-cleaning-rayleigh/">Office Cleaning Rayleigh</a></li>
                <li><a href="/office-cleaning-benfleet/">Office Cleaning Benfleet</a></li>
                <li><a href="/office-cleaning-westcliff/">Office Cleaning Westcliff</a></li>
                <li><a href="/office-cleaning-leigh/">Office Cleaning Leigh</a></li>
                <li><a href="/commercial-cleaning-essex/">Commercial Cleaning Essex</a></li>
                <li><a href="/commercial-cleaning-southend/">Commercial Cleaning Southend</a></li>
                <li><a href="/commercial-cleaning-rayleigh/">Commercial Cleaning Rayleigh</a></li>
                <li><a href="/commercial-cleaning-benfleet/">Commercial Cleaning Benfleet</a></li>
                <li><a href="/commercial-cleaning-westcliff/">Commercial Cleaning Westcliff</a></li>
                <li><a href="/commercial-cleaning-leigh/">Commercial Cleaning Leigh</a></li>
                <li><a href="/commercial-cleaning-essex/">Commercial Cleaning Essex</a></li>
                <li><a href="/end-of-tenancy-cleaning-southend/">End Of Tenancy Cleaning Southend</a></li>
                <li><a href="/end-of-tenancy-cleaning-rayleigh/">End Of Tenancy Cleaning Rayleigh</a></li>
                <li><a href="/end-of-tenancy-cleaning-benfleet/">End Of Tenancy Cleaning Benfleet</a></li>
                <li><a href="/end-of-tenancy-cleaning-westcliff/">End Of Tenancy Cleaning Westcliff</a></li>
                <li><a href="/end-of-tenancy-cleaning-leigh/">End Of Tenancy Cleaning Leigh</a></li>
                <li><a href="/cleaning-service-essex/">Commercial Cleaning Essex</a></li>
                <li><a href="/cleaning-service-southend/">Cleaning Service Southend</a></li>
                <li><a href="/cleaning-service-rayleigh/">Cleaning Service Rayleigh</a></li>
                <li><a href="/cleaning-service-benfleet/">Cleaning Service Benfleet</a></li>
                <li><a href="/cleaning-service-westcliff/">Cleaning Service Westcliff</a></li>
                <li><a href="/cleaning-service-leigh/">Cleaning Service Leigh</a></li>
            </ul>
        </div>
        <div id="my_tag">
            <p >Designed & Developed by <span>Callum Pullinger</span></p>
        </div>
    </div>
</footer>