<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a class="nav-btn link" href ="/">Home</a></li>
            <li><a class="nav-btn link" href="/about/">About</a></li>
            <li><a class="nav-btn link" href="/services/">Services</a></li>
            <li><a class="nav-btn link" href="/gallery/">Gallery</a></li>
            <li><a class="nav-btn link" href ="/testimonials/">Testimonials</a></li>
            <li><a class="nav-btn link" href="/contact/">Contact</a></li>
        </ul>

        <div id="my_tag">
            <p >Designed & Developed by <span>Callum Pullinger</span></p>
        </div>
    </div>
</footer>