<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a class="nav-btn link" href ="/">Home</a></li>
            <li><a class="nav-btn link" href="/about/">About</a></li>
            <li><a class="nav-btn link" href="/services/">Services</a></li>
            <li><a class="nav-btn link" href="/gallery/">Gallery</a></li>
            <li><a class="nav-btn link" href ="/testimonials/">Testimonials</a></li>
            <li><a class="nav-btn link" href="/contact/">Contact</a></li>
        </ul>

        <div id="sneakyseo" class="container row">
            <ul>
                <li><a href="/office-cleaning-essex/">Office Cleaning Essex</a></li>
                <li><a href="/office-cleaning-southend/">Office Cleaning Southend</a></li>
                <li><a href="/commercial-cleaning-essex/">Commercial Cleaning Essex</a></li>
                <li><a href="/commercial-cleaning-essex/">Commercial Cleaning Southend</a></li>
                <li><a href="/end-of-tenancy-cleaning-essex/">Commercial Cleaning Essex</a></li>
                <li><a href="/end-of-tenancy-cleaning-southend/">Commercial Cleaning Southend</a></li>
            </ul>
        </div>
        <div id="my_tag">
            <p >Designed & Developed by <span>Callum Pullinger</span></p>
        </div>
    </div>
</footer>