{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="shortcut icon" href="/static/icons/favi-32.png"/>
        <!-- Meta Tags -->
        <meta name="robots" content="index, follow" />
        <meta name="title" content="JMS Commercial Cleaning">
        <meta name="keywords" content="Office Cleaning Services, Commercial Cleaning Services, Cleaning Services UK,
        Office Cleaning, Commercial Cleaning Southend, Office Cleaning Essex, cleaning company, professional cleaning services,
         professional cleaning company, cleaning services company" />

        <!-- FB Tags -->
        <meta property="og:locale" content="en_UK" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="JMS Commercial Cleaning" />
        <meta property="og:url" content="jmscommercialcleaning.co.uk" />
        <meta property="og:image" content="\static\images\logo\jms-original-logo.png">
        <meta property="og:site_name" content="JMS Commercial Cleaning" />


        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/jquery.js"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123955938-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-123955938-4');
        </script>

        {% block head_js %}
        
        {% endblock %}
    </head>


    <body>

        {% include 'base/navbar.html' %}

        {% if messages %}
            <ul class="message containers">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}

       {% include 'base/landing.html' %}


        <main>
           {% block content %}

           {% endblock %}
        </main>


       {% include 'base/footer.html' %}


       {% block bottom_js %}

       {% endblock %}

    </body>
</html>