<div class="img-break" title="landing-image">
    <div id="landing" title="landing-image-2 " class="container">
        <h1>JMS Commercial Cleaning</h1>
        <h2>Professional Office Cleaners</h2>


        <!-- Social Links -->
        <div id="social-links">
            <a href="/" class="s-link link"><img src="/static/icons/fb-white.png"><span class="social-text">jms-commercial-cleaning</span></a>
            <a href="tel:07412090817" class="s-link link"><img src="/static/icons/phone-white.png"><span class="social-text">07412090817</span> </a>
            <a href="mailto:info.jmscleaningservices@gmail.com" class="s-link link"><img src="/static/icons/email-white.png"><span class="social-text">me@hotmail.co.uk</span> </a>
        </div>
    </div>
</div>