<div id="landing" class="img-break" title="landing image">
    <h1>JMS Commerical Cleaning</h1>
    <h2>Professional Office Cleaners</h2>


        <!-- Social Links -->
        <div id="social-links">
                <a href="/" class="s-link link"><img src="/static/icons/fb-white.png"><span class="social-text">jms-commercial-cleaning</span></a>
                <a href="/" class="s-link link"><img src="/static/icons/phone-white.png"><span class="social-text">07412090817</span> </a>
                <a href="mailto:me@hotmail.com" class="s-link link"><img src="/static/icons/email-white.png"><span class="social-text">me@hotmail.co.uk</span> </a>
        </div>
</div>