 <header>

        <nav id="nav">

            <div id="navbar-header" class="container">
            <!-- Nav Logo -->
                <img alt="jms-logo" id="logo" src="/static/images/logo/jms-original-logo.png">

            <!-- Nav Toggler -->
                <img alt="menu-toggle" id="toggle" src="/static/icons/menu.png" onclick="toggleNav()">
            </div>


            <div id="nav-body">
            <!-- Nav Links -->
                <ul id="nav-links" class="nav-container">
                    <li><a class="nav-btn link" href ="/">Home</a></li>
                    <li><a class="nav-btn link" href="/about/">About</a></li>
                    <li><a class="nav-btn link" href="/services/">Services</a></li>
                    <li><a class="nav-btn link" href="/gallery/">Gallery</a></li>
                    <li><a class="nav-btn link" href ="/testimonials/">Testimonials</a></li>
                    <li><a class="nav-btn link" href="/contact/">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>



    <script type="text/javascript">

        function openNav() {
            $(this).css('display', 'flex');
            nav = true;
        }

        function closeNav() {
            $(this).css('display', 'none');
            nav = false;
        }

        function toggleNav() {
            nav ? closeNav() : openNav();
        }

        $( "#toggle" ).click(function() {
            $( "#nav-links" ).toggle( "fast", function() {

                // Animation complete.
            });
        });



    </script>
