{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS - Testimonials</title>

    <meta name="description" content="Here is what some of our clients had to say. Come and have a look for yourself!" />

    <meta property="og:description"  content="Here is what some of our clients had to say. Come and have a look for yourself!" />

{% endblock %}

{% block content %}

<h1 class="title">See What Our Clients Said</h1>

    <article id="testimonial" class="container padding-bottom text">

        {% for testimonial in testimonials  %}
            <div class="testimonial">
                <p class="testimonial-text text">{{ testimonial.testimonial }}</p>
                <div class="author">
                    <p>{{ testimonial.name }}</p>
                    {% if testimonial.company %}
                        <p>{{ testimonial.company }}</p>
                    {% endif %}
                    <p>{{ testimonial.date }}</p>
                </div>
            </div>
        {% endfor %}

    </article>
    <div id="contact" class="img-break" title="background-3>
        <div class="container">
            {% include 'contact/contact_form.html' %}
        </div>
    </div>
{% endblock %}