


    :root {
        --background-image: linear-gradient(to left, rgba(8, 154, 221, 0.7), rgba(46, 149, 196, 0.7)) , url("/static/images/landing/architectural-design-architecture-buildings-830891.jpg");
        --background-image-1: linear-gradient(to left, rgba(8, 154, 221, 0.7), rgba(46, 149, 196, 0.7)) , url("/static/images/landing/architectural-design-architecture-ceiling-380768.jpg");
        --background-image-2: linear-gradient(to left, rgba(8, 154, 221, 0.7), rgba(46, 149, 196, 0.7)) , url("/static/images/landing/adult-cleaning-flora-713297.jpg");
        --background:linear-gradient(to left, rgb(8, 162, 233), rgb(56, 183, 240))
    }


/* Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #3a3a3a;
        list-style: none;
        text-decoration: none;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-weight: normal;
    }

    body {
        line-height: 1.4;
    }


    /* Fonts
font-family: 'Roboto', sans-serif;
*/


/* CSS */

    /* Index */
    .title {
        padding: 25px 0;
        text-align: center;
        font-size: 2em;
    }

    .text {
        text-align: center;
        font-size: 1.2em;
    }

    .container, .nav-container {
        width: 95%;
        margin: 0 auto;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .my-flex-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .my-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .padding-bottom {
        padding-bottom: 30px;
    }

    .grayed {
        background-color: rgba(218, 218, 218, 0.31);
        padding: 0  0 25px 0;
    }


/***********/
/* Nav Bar */
/***********/
    #navbar-header, #nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        max-height:100px;
        width: auto;
        margin: 10px 0;
    }

    #social-links {
        margin: 40px 0 0 0 ;
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .s-link, .link {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5px;
    }

    .s-link:last-child {
        margin-right: 0;
    }
    .s-link img {
        color: white;
        margin-right: 5px
    }
    .s-link img, #toggle {
        height: 30px;
        width: auto;
    }

    .social-text {
        display: none;
        color: white
    }

    #nav-body {
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }

    #nav-links li {
        padding: 10px 0;
    }


    /***************/
    /****Landing****/
    /***************/

    .img-break {
    min-height: 50vh;
    background-position: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: var(--background-image);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    }


#landing h1{
    font-size: 3em;
    color: white;
}
#landing h2 {
    font-size: 2em;
    color: white;
    font-weight: normal;
}

/************/
/* Link Box */
/************/

.link-box {
    min-width: 300px;
    max-width: 20%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    margin: 10px 0;
    background-color: white;

}

.link-box h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 15px;
}

.link-box p {
    margin-bottom: 25px;
}

.link-btn {
    padding: 10px;
    background-image: var(--background);
    color: white;

}

#link-box {
    background-image:var(--background-image-1);

    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


#link-box  .title, .img-break .title {
    color: white;
}

/****************/
/**** Footer ****/
/****************/


footer {
    background-color: rgba(222, 222, 222, 0.6);
    text-align: center;
    padding: 20px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-links a, footer p  {
    font-weight: 500;
}

footer span {
    font-size: 1.4em;
}

/*****************/
/**** SERVICE ****/
/*****************/


#service-cards {
    padding: 25px 0;
}

#links {
    width: 65%;
    margin: 0 auto;
    justify-content: space-around;
}

.service {

    width: 200px;
    height: 320px;
    margin: 10px 0 ;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-image: url("/static/images/landing/architectural-design-architecture-ceiling-380768.jpg");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
    box-shadow: 10px 10px 17px 3px rgba(0,0,0,0.27);
}

.service h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    color: white;
    padding: 10px;
    background-image: var(--background);
    text-align: center;
}

.service a {
    color: white;
}

/*****************/
/**** Contact ****/
/*****************/

    #contact {
        background-image:  var(--background-image-2);
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    label {
        color: white;
        padding: 10px 0;
        font-size: 1.2em;
    }

    .form input, #id_message, #id_service, #contact-btn {
        background-color: transparent;
        color: white;
        border: none;
        border: 3px solid white;
        border-radius: 5px;
        padding: 10px;
    }

    #id_message {
        height: 100px;
    }

    .col-md-3 {
        width: 20%;
        display: flex;
        flex-direction: column;
    }

    .gdpr {
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .gdpr p {
        color: white;
    }

    .gdpr input {
        margin-right: 20px;
    }

    #contact-btn {
        width: 150px
    }

    #contact-submit {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }


    @media screen and (min-width: 600px){

        #navbar-header {
            justify-content: center;
        }


        .container, .nav-container {
            width: 80%;
            margin: 0 auto;
        }

        #toggle {
            display: none;
        }

        #social-links {
            width: 20%;
            justify-content: space-between;
        }
    }