{% extends 'base/index.html' %}

{% block head_js %}
    <title>Office Cleaning | Commercial Cleaning | End Of Tenancy Cleaning Service</title>

    <meta name="description" content="We offer a number of different services. If you dont find what you need you can
    always call up and we can discuss and see if it is something we can help you with!" />


    <meta property="og:description" content="We offer a number of different services. If you dont find what you need you can
    always call up and we can discuss and see if it is something we can help you with!" />
{% endblock %}

{% block content %}

    <div id="services" class="">
        <article class="container text">
            <h1 class="title">Our Services</h1>
            {% autoescape off %}
                {% for blurb in service_blurbs %}

                    {{ blurb.text }}

                {% endfor %}

            {% endautoescape %}
        </article>


        <div id="service-col" class="container padding-bottom">
            <h1 class="title">What We Offer</h1>

        {% for service in services %}
                <div class="service-col">
                     <a class="call-to-bottom" href="{% url 'service' service.slug %}">Find Out More</a>

                    <div class="service-header" title="{{ service }}" style="background-image: url( {{ service.image.url }} )">
                        <h2><a href="{% url 'service' service.slug %}">{{ service }}</a></h2>
                    </div>
                    <div class="service-text">
                         {% autoescape off %}
                             <h3 class="service-title">{{ service}}</h3>
                             {{ service.brief }}
                             {% endautoescape %}
                    <a class="call-to" href="{% url 'service' service.slug %}">Find Out More</a>

                    </div>
                </div>
        {% endfor %}
        </div>
    </div>


    <div id="contact" class="img-break" title="background-3">
        <div class="container">

            {% include 'contact/contact_form.html' %}
        </div>
    </div>
{% endblock %}