{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS Commercial Cleaning</title>

    <!-- Meta Tags -->
    <meta name="title" content="JMS Commercial Cleaning">
    <meta name="description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>

    <meta property="og:description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>


    <!-- FB Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Action Guitars" />
    <meta property="og:url" content="actionguitars.co.uk" />
    <meta property="og:image" content="\static\guitar-logo2.png">
    <meta property="og:site_name" content="Action Guitars" />
{% endblock %}

{% block content %}

    <div id="services" class="">
            <article class="container text">
                <h1 class="title">Services</h1>
                <p>No matter which industry you are in, you will probably find yourself needing a cleaner at some point.
                    What ever situation you find yourself in, JMS has the solution. We pride ourselves on our reliable,
                    consistent and friendly cleaning service for our customers, and our high standards we set oursleves,
                    always leaves our customers happy</p>
                <br>
                <p>With all our services we provide necessary cleaning products and equipment, also all COSHH sheets can
                    be provided on request.
                </p>
            </article>


            <div id="service-cards" class="container row">
                {% for service in services %}
                    <div class="service" style="background-image: url( {{ service.image.url }} )">
                        <h1><a href="{% url 'service' service.slug %}">{{ service }}</a></h1>
                    </div>
                {% endfor %}
            </div>
        </div>


        <div id="contact" class="img-break">
            <div class="container">

                {% include 'contact/contact_form.html' %}
            </div>
        </div>
{% endblock %}