{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS - {{ service }}</title>

    <meta name="description" content="{{ service.meta }}" />

    <meta property="og:description" content="{{ service.meta }}" />
{% endblock %}

{% block content %}

    <div id="services" class="">
        <article class="container text text-left">
            <h1 class="title">{{ service }}</h1>

            {% autoescape off %}
                <p>{{ service.description}}</p>
            {% endautoescape %}
        </article>

            <p class="call-to">Call Now For A Free Non-Obligatory Quote!</p>
        <div class="container">
            <div id="service-imgs" class="row-flex">
                    {% for job in jobs %}
                        {% if job.after_img_1 %}
                            <div title="{{ job }}-1" class="service_img" style="background-image: url({{ job.after_img_1.url }})"></div>
                        {% endif %}
                        {% if job.after_img_2 %}
                            <div title="{{ job }}-2" class="service_img" style="background-image: url({{ job.after_img_2.url }})"></div>
                        {% endif %}
                        {% if job.after_img_3 %}
                            <div title="{{ job }}-3" class="service_img" style="background-image: url({{ job.after_img_3.url }})"></div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>


        </article>


        <div id="service-cards" class="container row">
            {% for service in services %}
                <div class="service" style="background-image: url( {{ service.image.url }} )">
                    <h1><a href="{% url 'service' service.slug %}">{{ service }}</a></h1>
                </div>
            {% endfor %}
        </div>


        <div id="contact" class="img-break" title="background-3>
            <div class="container">

                {% include 'contact/contact_form.html' %}
            </div>
        </div>
    </div>
{% endblock %}