{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS - Gallery</title>

    <meta name="description" content="See for yourself what its like after JMS has visited. Our amazing, hardworking staff
    will not stop until the job is done to the high standards that they set themselves"/>

    <meta property="og:description" content="See for yourself what its like after JMS has visited. Our amazing, hardworking staff
    will not stop until the job is done to the high standards that they set themselves"/>
{% endblock %}

{% block content %}


    <h1 class="title">Before and Afters!</h1>

    <div id="gallery" class="container padding-bottom">
        {% for job in jobs %}
            {% if job.before_img_1 %}
                {% if job.after_img_1 %}
                    <div id="gallery-post">
                        <h2 class="title-2">{{ job.title }}</h2>

                        <h2 class="title-3">Before</h2>
                        <div class="gallery-imgs">
                            {% if job.before_img_1 %}
                                <img class="gallery-img" alt="{{ job.title }} - 1" src="{{ job.before_img_1.url }}">
                            {% endif %}


                            {% if job.before_img_2 %}
                                <img class="gallery-img" alt="{{ job.title }} - 2" src="{{ job.before_img_2.url }}">
                            {% endif %}


                            {% if job.before_img_3 %}
                                <img class="gallery-img" alt="{{ job.title }} - 3" src="{{ job.before_img_3.url }}">
                            {% endif %}
                        </div>


                        <h2 class="title-3">After</h2>

                        <div class="gallery-imgs">


                            {% if job.after_img_1 %}
                                <img class="gallery-img" alt="{{ job.title }} - 1" src="{{ job.after_img_1.url }}">
                            {% endif %}


                            {% if job.after_img_2 %}
                                <img class="gallery-img" alt="{{ job.title }} - 2" src="{{ job.after_img_2.url }}">
                            {% endif %}


                            {% if job.after_img_3 %}
                                <img class="gallery-img" alt="{{ job.title }} - 3" src="{{ job.after_img_3.url }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}


    </div>



    <div id="contact" class="img-break">
        <div class="container">

            {% include 'contact/contact_form.html' %}
        </div>
    </div>
{% endblock %}