{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS - Gallery</title>

    <!-- Meta Tags -->
    <meta name="title" content="JMS Commercial Cleaning">
    <meta name="description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>

    <meta property="og:description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>


    <!-- FB Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Action Guitars" />
    <meta property="og:url" content="actionguitars.co.uk" />
    <meta property="og:image" content="\static\guitar-logo2.png">
    <meta property="og:site_name" content="Action Guitars" />
{% endblock %}

{% block content %}


    <h1 class="title">Before and Afters!</h1>

    <div id="gallery" class="container padding-bottom">
        {% for job in jobs %}
            {% if job.before_img_1 %}
                {% if job.after_img_1 %}
                    <div id="gallery-post">
                        <h2 class="title-2">{{ job.title }}</h2>

                        <h2 class="title-3">Before</h2>
                        <div class="gallery-imgs">
                            {% if job.before_img_1 %}
                                <img class="gallery-img" alt="{{ job.title }} - 1" src="{{ job.before_img_1.url }}">
                            {% endif %}


                            {% if job.before_img_2 %}
                                <img class="gallery-img" alt="{{ job.title }} - 2" src="{{ job.before_img_2.url }}">
                            {% endif %}


                            {% if job.before_img_3 %}
                                <img class="gallery-img" alt="{{ job.title }} - 3" src="{{ job.before_img_3.url }}">
                            {% endif %}
                        </div>


                        <h2 class="title-3">After</h2>

                        <div class="gallery-imgs">


                            {% if job.after_img_1 %}
                                <img class="gallery-img" alt="{{ job.title }} - 1" src="{{ job.after_img_1.url }}">
                            {% endif %}


                            {% if job.after_img_2 %}
                                <img class="gallery-img" alt="{{ job.title }} - 2" src="{{ job.after_img_2.url }}">
                            {% endif %}


                            {% if job.after_img_3 %}
                                <img class="gallery-img" alt="{{ job.title }} - 3" src="{{ job.after_img_3.url }}">
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}


    </div>



    <div id="contact" class="img-break">
        <div class="container">

            {% include 'contact/contact_form.html' %}
        </div>
    </div>
{% endblock %}