{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS Commercial Cleaning</title>

    <!-- Meta Tags -->
    <meta name="title" content="JMS Commercial Cleaning">
    <meta name="description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>

    <meta property="og:description" content="Action Guitars has 15 years experiance in building and repairing custom guitar
     setups for local pickers all over Essex | We build vintage style, custom electric guitars and we also offer a
     guitar and amp repair service | Guitar Repairs Essex | Guitar Repair | Leigh-on-Sea | Southend-on-Sea |
     Action Guitars"/>


    <!-- FB Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Action Guitars" />
    <meta property="og:url" content="actionguitars.co.uk" />
    <meta property="og:image" content="\static\guitar-logo2.png">
    <meta property="og:site_name" content="Action Guitars" />
{% endblock %}

{% block content %}


     <h1 class="title">Contact Us</h1>
        <article id="about" class="container padding-bottom">
            <p class="text">
                Based in Southend, Essex, JMS Commercial Cleaning is a small, but reliable company that has built up a solid reputation, purely built on trust in Essex and the surrounding areas.
                We pride ourselves on our reliable, consistent and friendly service for our customers. Some of which we have built great relationships with and even service multiple properties for.
                <br>
                <br>
                Our fully trained staff work to a detailed cleaning schedule and regular inspections by the cleaning manager ensures that we maintain our high standards. We have reliable systems in
                place so that supplies are always updated and do not run out. We have numerous well trained cleaning staff employed by our business meaning that we can provide additional operatives if required.

            </p>
        </article>

        <div id="contact" class="img-break">
            <div class="container">

                {% include 'contact/contact_form.html' %}
            </div>
        </div>
{% endblock %}