{% extends 'base/index.html' %}

{% block head_js %}
    <title>JMS - Contact</title>

    <meta name="description" content="Get in touch today for a free non-obligatory quote! We can give either a rough
     estimate over the phone, or we will send someone down to give you a tailored quotation to fit exactly what you need!" />

    <meta property="og:description" content="Get in touch today for a free non-obligatory quote! We can give either a rough
     estimate over the phone, or we will send someone down to give you a tailored quotation to fit exactly what you need!"/>

{% endblock %}

{% block content %}


     <h1 class="title">Contact Us</h1>
        <article id="contact-page" class="container padding-bottom text">
            <p>If you are unsure, or would like to call up to find out more, please find either our contact information,
                or the contact form below and we will get back to you as quickly as possible
            </p>
            {% include 'contact/map.html' %}
        </article>

        <div id="contact" class="img-break" title="background-3>
            <div class="container">

                {% include 'contact/contact_form.html' %}
            </div>
        </div>
{% endblock %}